<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeApp">
        <activity
            android:name=".recipe10_Activity"
            android:exported="false"
            android:label="@string/title_activity_recipe10"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".recipe09_Activity"
            android:exported="false"
            android:label="@string/title_activity_recipe09"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".recipe08_Activity"
            android:exported="false"
            android:label="@string/title_activity_recipe08"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".recipe07_Activity"
            android:exported="false"
            android:label="@string/title_activity_recipe07"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".recipe06_Activity"
            android:exported="false"
            android:label="@string/title_activity_recipe06"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".KeywordList"
            android:exported="false"
            android:label="@string/title_activity_keyword_list"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".recipe05_Activity"
            android:exported="false" />
        <activity
            android:name=".recipe04_Activity"
            android:exported="false" />
        <activity
            android:name=".recipe03_Activity"
            android:exported="false" />
        <activity
            android:name=".recipe02_Activity"
            android:exported="false" />
        <activity
            android:name=".recipe01_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>